<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlanRecuperaciones" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57428/PlanRecuperaciones.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlanRecuperaciones"
                contract="PlanRecuperacionWS.IPlanRecuperaciones" name="BasicHttpBinding_IPlanRecuperaciones" />
        </client>
    </system.serviceModel>
</configuration>